<h4>Messages</h4>
<ul>
  {{#each messages as |message|}}
  <li>{{message.content}}</li>
  {{/each}}
</ul>

<h3>New Message:</h3>
<div>
  {{textarea value=message.content}}
</div>
<br/>
<button type='submit' {{action 'createNewMessage'}}>Submit</button>
